.homepage {
  background-image: url('../images/home01.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.welcome-box {
  /*background-color: rgb(255, 255, 255); */
  color: rgb(0, 0, 0);
  padding: 20px;
  display: flex;
  /* testing */
  flex-direction: column-reverse;
  justify-content: center;
  margin-top: 120px;
}

/*

.welcome-box h1 {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: flex-end; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
} 

*/

.welcome-box p {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: flex-end; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
} 

.instagram-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
}

.instagram-logo {
  width: 30px; /* Adjust the width of the Instagram logo */
  height: auto; /* Maintain the aspect ratio of the logo */
}
