.navigation-container {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px;
    padding: 0 24px;
}

.navigation-list {
    margin: unset;
    padding: unset;
    list-style-type: none;
    display: flex;
}

.navigation-list__item {
    margin-left: 168px;
}

.navigation-list__item > a {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
} 

.logo-text {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: large;
    top: 38px;
    left: 160px;
}

h1 span {
    font-size: 20px;
    color: #999;
    vertical-align: middle;
    position: fixed;
}
