.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 20px 30px;
}

.navigation-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
}

.logo-container a {
  text-decoration: none;
}

.logo-container {
  margin-left: 0;
} 

.logo-container h1{
  color: #ffffff;
  font-size: 24px;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navigation-list {
  display: flex;
  justify-content: flex-end; /* was center */
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute; /* added this line */
  right: 30px; /* links moving in symmetry with logo for screen width up to 3000px */
}

.navigation-list__item {
  margin-left: 30px;
}

.navigation-list__item:first-child {
  margin-left: 0;
}

.navigation-list__item:last-child {
  margin-right: 0;
}

.navigation-list__item a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

@media only screen and (min-width: 1441px) {
  .navigation-list {
    right: calc(20% - 200px); 
  }
  
  .navigation-list__item {
    margin-left: 100px;
  }

  .logo-container {
    margin-left: 280px;
  }

}


@media only screen and (max-width: 3000px) {
  .navigation-list {
    display: inline-flex;
    margin-right: 0;
  }

  .logo-container {
    position: absolute;
    left: 30px; /* logo moving in symmetry with links for screen width up to 3000px */
  }

  .mobile-navigation-list { /* FaBars links toggle container */
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 42px;
    left: 0;
    width: 100%;
    height: 100%; /* added this line to fill de mobile page when FaBars toggle container is open */
    background-color: #3a3a3a; 
    z-index: 999;
  }

  .mobile-navigation-list__item {
    margin-right: 0;
  }

  .mobile-navigation-list__item:last-child {
    margin-bottom: 0;
  }

  .mobile-navigation-list__item a {
    display: block;
    padding: 15px 30px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
  }

  .toggle-icon { /* FaBars settings */ 
    position: absolute;
    left: 30px;
    top: 12px;
    font-size: 24px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 767px) {

  .logo-container {
    position: absolute/* relative */;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 30px; /* added this line to drag logo in mid top navigation for screen width up to 767px */
  }

  .navigation-list { 
    display: none;
  }

  .toggle-icon {
    color: #ffffff;
  }

  .toggle-icon.open:before { /* added styles for the "X" */
    content: "X";
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
}